* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }

  body{
    background-color: #002339;
    color: #fff;

  }

.container{
    margin: 12%;
    width: 90%;
    max-width: 700px;
 }

 .container h1{
    font-weight: 500;
    font-size: 45px;
    color:white;
    padding: 5px;
 }

 .container h1 span{
    color: #019f55;
    font-weight: bold;
    padding-bottom: 7px;
    border-bottom:4px solid #019f55 ;

 }

 
 .display input{
    border: 0;
    outline: 0;
    font-size: 24px;
 } 

 .display{
    display: flex;
    width:100%;
    margin-top: 50px;
    margin-bottom: 50px;
    color:#333;
    background-color: #fff;
    align-items: center;
    justify-content: space-between;
    padding: 13px ;
    border-radius: 5px;  
 }

 
 .display img{
    width:35px;
    cursor: pointer;
 }

 .container button img{
   
    margin-right:10px ;
 }
 .container button{
    border-radius: 5px;
    border: 0;
    outline: 0;
    background-color:#019f55 ;
    font-size:22px ;
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content:center ;
    padding:10px 26px;
    color: #fff;
    cursor: pointer;
 }

 @media screen  and (max-width:600px){
    .container h1{
        font-size:30px;
    }
    .container{
        width: 80%;
        margin-top: 200px;
    }
    .display img,.container button img{
        width: 30px;
        height: 30px;
    }
   

    .display,.container button{
        padding: 15px;
        font-size: 20px;
    }
 }